@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #eee;
  }
  .site-header {
    background: #000;
  }
  .tag-filter {
    background: #03dac5;
    color: #000;
  }
}